.comments-container-wrapper {
  padding: 1rem;

  .pl-2 {
    padding-left: 2rem;
  }

  .add-comment-btn {
    margin: 1rem 0;
  }

  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
}
